@page
@model PrivateOfficeWebApp.Pages.Teacher.Classes.EditClassModel
@{
    ViewData["Title"] = "EditClass";
}
@* ReSharper disable MarkupTextTypo *@
<div>
    <nav class="navbar" style="background-color: #0866C6">
        <a asp-page="../Courses/IndexCourse" asp-route-id="@Request.Cookies["idTeacher"]" class="navbar-brand" style="color: white">АРМ Преподавателя</a>
        <form method="post" class="form-inline">
            <input class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="background-color:#0866C6; color:white;" value="Выйти" asp-page-handler="LogOut" />
        </form>
    </nav>
</div>
<div class="container-fluid mt-3">
    <div class="form-group d-flex bd-highlight mb-3">
        <a asp-page="../Classes/ViewClasses" asp-route-id="@Model.Course.IdCourse" class="btn btn-outline-primary p-2 bd-highlight" style="background-color:#0866C6; color:white">Назад</a>
        
        <button type="button" class="btn btn-outline-primary ml-auto p-2 bd-highlight" style="background-color:#0866C6; color:white" data-toggle="modal" data-target="#editClass">
            Редактировать
        </button>
        <div>
            <button type="button" class="btn btn-outline-primary ml-auto p-2 bd-highlight" style="background-color:#0866C6; color:white" data-toggle="modal" data-target="#editClassHome">
                Добавить групповое задание
            </button>
        </div>
    </div>    
</div>

<div class="container mt-5" style="border: solid   #0866C6 2px; border-radius:5px; background-color:white">
    <div class="d-flex justify-content-start">
        <form method="get">
            <div class="modal-body">
                <div class="form-class">
                    <label><strong>Тема занятия:</strong> @Html.DisplayFor(model => model.Class.NameClasses)</label>
                </div>
                <div class="form-nameCourse">
                    <label><strong>День недели:</strong> @Html.DisplayFor(model => model.Class.DaysWeek)</label>
                </div>
                <div class="form-DateClass">
                    <label><strong>Дата занятия:</strong> @Model.Class.DateClasses.ToShortDateString()</label>
                </div>
                <div class="form-nameCabinet">
                    <label><strong>Аудитория:</strong> @Html.DisplayFor(model => model.Class.Cabinet)</label>
                </div>
                <div class="form-startTime">
                    <label><strong>Время начала:</strong> @Html.DisplayFor(model => model.Class.StartTime)</label>
                </div>
                <div class="form-data">
                    <label><strong>Время окончания:</strong> @Html.DisplayFor(model => model.Class.EndTime)</label>
                </div>
                <div class="form-time">
                    <label><strong>Занятий в неделю:</strong> @Html.DisplayFor(model => model.Class.ReplayClasses)</label>
                </div>
                <div class="form-time"> 
                    @if (Model.HomeworkGroup != null)
                    { 

                    <label><strong>Групповое задание:</strong> @Html.DisplayFor(model => model.HomeworkGroup.ContentHomeworkGroup)</label>
                }
                </div>
                <div class="form-group">
                    <input hidden="hidden" type="number" id="idgroup" value="@Model.Class.IdGroup" />
                </div>
                <a asp-page="../Classes/ViewClasses" asp-route-id="@Model.Class.IdCourse">Просмотреть все занятия</a>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="editClassHome" tabindex="-1" role="dialog"
     aria-labelledby="editClassHome" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editClassHome">Добавить групповое задание</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" class="needs-validation" novalidate>
                    <div class="form-group">
                        <input hidden="hidden" type="number" id="Idclasses" name="Idclasses" value="@Model.Class.IdClasses" />
                    </div>
                    <div class="form-group">
                        <input hidden="hidden" type="number" id="idgroup" name="idGroup" value="@Model.Class.IdGroup" />
                    </div>
                    <div class="form-university pt-0 mb-1">
                        <label for="InputUniveristy">Название</label>
                        <input asp-for="HomeworkGroup.ContentHomeworkGroup" type="text" class="form-control"
                               id="InputUniveristy">
                    </div>
                    <div class="modal-footer m-0 p-0 pt-2">
                        <input type="submit" class="btn btn-secondary" data-dismiss="modal" value="Закрыть" />
                        <input type="submit" class="btn btn-primary" value="Добавить" asp-page-handler="CreateTask" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>


    <div class="modal fade" id="editClass" tabindex="-1" role="dialog"
         aria-labelledby="editClassTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editClassTitle">Редактирование</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" class="needs-validation" novalidate>
                        <div class="form-group">
                            <input hidden="hidden" type="number" id="idCourse" name="idCourse" value="@Model.Class.IdCourse" />
                        </div>
                        <div class="form-group">
                            <input hidden="hidden" type="number" id="idgroup" name="idgroup" value="@Model.Class.IdGroup" />
                        </div>
                        <div class="form-id">
                            <label hidden="hidden" for="InputIdCourse">Id занятия</label>
                            <input hidden="hidden" asp-for="Class.IdClasses" type="text" class="form-control"
                                   id="InputIdCourse">
                        </div>
                        <div class="form-university pt-0 mb-1">
                            <label for="InputUniveristy">Тема занятия</label>
                            <input asp-for="Class.NameClasses" type="text" class="form-control"
                                   id="InputUniveristy">
                        </div>
                        <div class="form-typeClass mb-1">
                            <label for="InputGroup">Тип занятия</label>
                            <select class="custom-select" id="TypeClass" name="TypeClass" asp-for="Class.IdTypeClasses">
                                <option value="1" tabindex="1">Лабораторная работа</option>
                                <option value="2" tabindex="2">Лекция</option>
                                <option value="3" tabindex="3">Семинар</option>
                            </select>
                        </div>
                        <div class="form-DateClass">
                            <label>Дата занятия</label>
                            <input asp-for="Class.DateClasses" type="date" class="form-control" id="InputDateClass" />
                        </div>
                        <div class="form-cabinet">
                            <label>Аудитория</label>
                            <input asp-for="Class.Cabinet" type="text" class="form-control" id="InputCabinet" />
                        </div>
                        <div class="form-dayWeek mb-1">
                            <label for="InputUniveristy">День недели</label>
                            <input asp-for="Class.DaysWeek" type="text" class="form-control" id="InputUniveristy" required>
                            <div class="invalid-feedback">
                                Пожалуйста введите день недели
                            </div>
                        </div>
                        <div class="form-nameCourse mb-1">
                            <label for="InputGroup">Время начала</label>
                            <input asp-for="Class.StartTime" type="time" class="form-control" id="InputNameCourse" required>
                            <div class="invalid-feedback">
                                Пожалуйста введите время начала
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <label for="InputGroup">Время окончания</label>
                            <input asp-for="Class.EndTime" type="time" class="form-control" id="InputGroup" required>
                            <div class="invalid-feedback">
                                Пожалуйста введите время окончания
                            </div>
                        </div>
                        <div class="form-time mb-4">
                            <label for="InputGroup">Периодичность</label>
                            <input asp-for="Class.ReplayClasses" type="text" class="form-control" id="InputTime" required>
                            <div class="invalid-feedback">
                                Пожалуйста введите переодичность
                            </div>
                        </div>
                        <div class="modal-footer m-0 p-0 pt-2">
                            <input type="submit" class="btn btn-secondary" data-dismiss="modal" value="Закрыть" />
                            <!-- -->
                            <input type="submit" class="btn btn-primary" value="Редактировать" asp-page-handler="EditClass" />

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    var forms = document.getElementsByClassName('needs-validation');
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </div>
