@page
@model PrivateOfficeWebApp.EditModel
@{
    ViewData["Title"] = "Edit";
}
    <div>
        <nav class="navbar" style="background-color: #0866C6">

            <a class="navbar-brand" style="color: white">АРМ Преподавателя</a>
            <!-- <form class="form-inline">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</button>
        </form> -->
        </nav>
    </div>
	<div class="container mt-5" style="border: solid   #0866C6 1.5px">
		<div class="row d-flex justify-content-start align-items-center">
			<div class="modal-body">
				<div class="form-university mb-1">
					<label>Университет: @Html.DisplayFor(model => model.Course.NameUniversity)</label>
				</div>
				<div class="form-nameCourse mb-1">
					<label>Название курса: @Html.DisplayFor(model => model.Course.NameCourse)</label>
				</div>
				<div class="form-group mb-1">
					<label>Группа: @Html.DisplayFor(model => model.Group.NameGroup)</label>
				</div>
				<div class="form-students mb-1">
					<label>Количество студентов в группе: 20</label>
				</div>
				<div class="form-time mb-1">
					<label>Количество часов: @Html.DisplayFor(model => model.Course.CountTime)</label>
				</div>
				<div class="form-data mb-2">
					<label>Длительность курса: </label>
					<label>с @Html.DisplayFor(model => model.Course.StartDate)</label>
					<label>до @Html.DisplayFor(model => model.Course.EndDate)</label>
				</div>
				<div class="d-flex justify-content-between">
					<button type="button" class="btn btn-outline-primary" asp-page="../Classes/ViewClasses" asp-route-id="@Model.Course.IdCourse">Просмотреть все занятия</button>
					<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#editCourse">Редактировать</button>
				</div>
			</div>
			<div class="modal fade" id="editCourse" tabindex="-1" role="dialog" aria-labelledby="editCourseTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="editCourseTitle">Редактирование курса</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<form method="post">
							<div class="modal-body pt-0">
								<div class="form-id">
									<label hidden="hidden" for="InputIdCourse">Id курса</label>
									<input hidden="hidden" asp-for="Course.IdCourse" type="text" class="form-control" id="InputIdCourse">
								</div>
								<div class="form-university">
									<label for="InputUniveristy">Университет</label>
									<input asp-for="Course.NameUniversity" type="text" class="form-control" id="InputUniveristy">
								</div>
								<div class="form-nameCourse">
									<label for="InputGroup">Название курса</label>
									<input asp-for="Course.NameCourse" type="text" class="form-control" id="InputNameCourse">
								</div>
								<div class="form-group">
									<label for="InputGroup">Группа</label>
									<input asp-for="Course.IdGroup" hidden="hidden" />
									<input asp-for="Group.NameGroup" type="text" class="form-control" id="InputGroup">
								</div>
								<div class="form-time">
									<label for="InputGroup">Количество часов</label>
									<input asp-for="Course.CountTime" type="text" class="form-control" id="InputTime">
								</div>
								<div class="form-data">
									<label for="InputCourse">Длительность курса</label>
									<input asp-for="Course.StartDate" type="date" class="form-control mb-3" id="InputStartCourse">
									<input asp-for="Course.EndDate" type="date" class="form-control" id="InputEndCourse">
								</div>

							</div>
						</form>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
							<!-- -->
							<button type="button" class="btn btn-primary">Принять</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
