@page
@model PrivateOfficeWebApp.Pages.Courses.EditModel

<div>
	<nav class="navbar" style="background-color: #0866C6">
		<a class="navbar-brand" style="color: white">АРМ Преподавателя</a>
		<!-- <form class="form-inline">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</button>
		</form> -->
	</nav>
</div>


<div class=" mt-3  ml-1 mb-1">
	<button type="button" class="btn mb-2" style="background: #0866C6" data-toggle="modal"
			data-target="#addNewClass">
		<span style="color: white">Добавить новое занятие</span>
	</button>

	<div class="modal fade" id="addNewClass" tabindex="-1" role="dialog" aria-labelledby="addNewClass"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addNewClass">Добавление нового занятия</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="post">
					<div class="modal-body pb-0">

						<div class="form-group">
							<label for="InputUniveristy">Тема занятия</label>
							<!--в нижнюю строчку вставить тэг asp-for="?" -->
							<input type="text" class="form-control" id="InputTheme">
						</div>
						<div class="form-group">
							<label for="InputGroup">Тип занятия</label>
							<!--в нижнюю строчку вставить тэг asp-for="?" -->
							<input type="text" class="form-control" id="InputType">
						</div>
						<div class="form-group">
							<label for="InputGroup">День недели</label>
							<!--в нижнюю строчку вставить тэг asp-for="?" -->
							<input type="text" class="form-control" id="InputDay">
						</div>
						<div class="form-group">
							<label for="InputGroup">Время начала</label>
							<!--в нижнюю строчку вставить тэг asp-for="?" -->
							<input type="text" class="form-control" id="InputTimeBegin">
						</div>
						<div class="form-group">
							<label for="InputGroup">Время окончания</label>
							<!--в нижнюю строчку вставить тэг asp-for="?" -->
							<input type="text" class="form-control" id="InputTimeEnd">
						</div>
					</div>
				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
					<!--по нажатию этой кнопки происходит добавление в таблицу и бд-->
					<button type="button" class="btn btn-primary">Добавить</button>
				</div>
			</div>
		</div>
	</div>
	<form method="get">
		<table class="table">
			<thead>
				<tr>
					<th>
						Название занятия(тема)
					</th>
					<th>
						Тип занятия
					</th>
					<th>
						День недели
					</th>
					<th>
						Время начала
					</th>
					<th>
						Время окончания
					</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Course.Classes != null)
				{
					@foreach (var item in Model.Course.Classes)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.NameClasses)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.TypeClasses.TypeClass)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.DaysWeek)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.StartTime)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.EndTime)
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</form>
</div>


