@page
@using Microsoft.AspNetCore.Mvc.ApiExplorer
@using Microsoft.VisualStudio.Web.CodeGeneration
@model PrivateOfficeWebApp.Pages.Teacher.StudentsTable.StudentsTableModel

@{
    ViewData["Title"] = "StudentsTable";

}

<div>
    <nav class="navbar" style="background-color: #0866C6">
        <a href="/Index" class="navbar-brand" style="color: white">АРМ Преподавателя</a>
	    <form method="post" class="form-inline">
		    <input  class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="background-color:#0866C6; color:white; "  value="Выйти" asp-page-handler="LogOut" />
	    </form>
    </nav>
</div>
<div class="container-fluid mt-3">
    <div class="form-group d-flex bd-highlight mb-3">
        <input type="button" class="btn btn-outline-primary" style="background-color:#0866C6; color:white" onclick="history.back();" value="Назад" />
        <button type="button" class="btn btn-outline-primary ml-auto p-2 bd-highlight" style="background-color:#0866C6; color:white" data-toggle="modal" data-target="#addStudent">
            Добавить студента
        </button>
        </div>
</div>

        <div >
            <table id="tab1" class="table table-bordered" style="border: solid   #0866C6 2px; background-color:white; width:100%">
                <thead>
                    <tr>
                        <th  style="border: solid   #0866C6 2px; background-color:white ">Имя</th>
                        <th  style="border: solid   #0866C6 2px; background-color:white ">Фамилия</th>
                        <th  style="border: solid   #0866C6 2px; background-color:white">Группа</th>
                        <!--  <th scope="col">Отметка студента о текущей посещаемости</th> onchange="this.form.submit()"-->
                        <th  style="border: solid   #0866C6 2px; background-color:white" ></th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.Students != null)
                    {
                        @foreach (var student in Model.Students)
                        {
                            <tr>
                                <td style="border: solid   #0866C6 1px; background-color:white">@Html.DisplayFor(item => student.FirstName)</td>
                                <td style="border: solid   #0866C6 1px; background-color:white">@Html.DisplayFor(item => student.SecondName)</td>
                                <td style="border: solid   #0866C6 1px; background-color:white">@Html.DisplayFor(item => student.Group.NameGroup)</td>
                                <td style="border: solid   #0866C6 1px; background-color:white">
                                    <form method="post" class="d-flex justify-content-between">
                                        <a asp-page="/Teacher/StudentsTable/EditStudent" asp-route-id="@student.IdStudent">Подробнее</a>
                                    
                                        <input hidden="hidden" type="number" name="id" value="@student.IdStudent" />
                                        <input hidden="hidden" type="number" name="idgroup" value="@student.IdGroup" />
                                        <input type="submit" value="Удалить" class="btn btn-outline-danger" asp-page-handler="Delete" />
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <input type="submit" class="btn btn-outline-primary" value="Подтвердить присутствие" id="add" style="display:none">
        </div>
     
               
        <form action="" id="add_students" method="post" class="needs-validation" onsubmit="checkStudent(this);return false;" novalidate>
            <div class="modal fade" id="addStudent" tabindex="-1" role="dialog"
                 aria-labelledby="addStudentTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addStudentTitle">Добавить студента</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label for="name">Имя</label>
                                <input type="text" id="NameStudent" class="form-control" asp-for="Student.FirstName" value="" required />
                                <div class="invalid-feedback">
                                    Пожалуйста введите имя студента
                                </div>
                            </div>
                            <div>
                                <label for="name">Фамилия</label>
                                <input type="text" id="SurnameStudent" class="form-control mb-2" asp-for="Student.SecondName" required />
                                <div class="invalid-feedback">
                                    Пожалуйста введите фамилию студента
                                </div>
                            </div>
                            <div>
                                <label for="group">Группа</label>
                                <select class="custom-select mb-1" name="idgroup" required>
                                    @foreach (var group in Model.Groups)
                                    {
                                        <option value="@group.IdGroup">@Html.DisplayFor(item => group.NameGroup)</option>
                                    }
                                </select>
                                <div class="invalid-feedback">
                                    Пожалуйста введите группа
                                </div>
                            </div>
                            <div>
                                <label for="login">Логин</label>
                                <input type="text" id="SurnameStudent" class="form-control mb-2" asp-for="Student.Login" required />
                                <div class="invalid-feedback">
                                    Пожалуйста введите логин студента
                                </div>
                            </div>
                            <div>
                                <label for="password">Пароль</label>
                                <input type="password" id="SurnameStudent" class="form-control mb-2" asp-for="Student.Password" required />
                                <div class="invalid-feedback">
                                    Пожалуйста введите пароль студента
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <input type="submit" class="btn btn-primary" style="background-color:#0866C6; color:white" value="Добавить" asp-page-handler="CreateStudent" />
                        </div>
                    </div>
                </div>
            </div>
            <script>
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        var forms = document.getElementsByClassName('needs-validation');
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
            </script>
        </form>

