@page
@model IndexStudentModel
@* ReSharper disable MarkupTextTypo *@
<div>
	<nav class="navbar" style="background-color: #0866C6">
		<a href="/Index" class="navbar-brand" style="color: white">@Model.Student.SecondName @Model.Student.FirstName</a>
	</nav>
</div>
<p class="text-center">Занятия на сегодня</p>

<div class=" mt-1">
    <table id="tab1" class="table table-bordered" style=" background-color:white; width:190vh">
        <thead>
            <tr>
                <th scope="col">Предмет</th>
                <th scope="col">Время начала занятия</th>
                <th scope="col">Время окончания занятия</th>
                <th scope="col">Тема</th>
                <th scope="col">Аудитория</th>
                <th scope="col">Присутсвие</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Classes != null)
            {
                @foreach (var classes in Model.Classes)
                {
            <tr>

                <td>@Html.DisplayFor(item => classes.Course.NameCourse)</td>
                <td>@Html.DisplayFor(item => classes.StartTime)</td>
                <td>@Html.DisplayFor(item => classes.EndTime)</td>
                <td>@Html.DisplayFor(item => classes.NameClasses)</td>
                <td>@Html.DisplayFor(item => classes.Cabinet)</td>
                <td><input type="checkbox"></td>

            </tr>
                }
            }
        </tbody>
        <input type="button" class="btn btn-outline-primary" onclick="history.back();" value="Назад" />
    </table>
</div>
