@page
@model StudentClasses
@* ReSharper disable MarkupTextTypo *@
<div>
	<nav class="navbar" style="background-color: #0866C6">
		<a href="/Index" class="navbar-brand" style="color: white">@Model.Student.SecondName @Model.Student.FirstName</a>
		<form method="post" class="form-inline">
			<input class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="background-color:#0866C6; color:white;" value="Выйти" asp-page-handler="LogOut" />
		</form>
	</nav>
</div>

<div class="container-fluid mt-3">
	<div class="form-group d-flex bd-highlight mb-3">
		<input type="button" class="btn btn-outline-primary p-2 bd-highlight" style="background-color:#0866C6; color:white" onclick="history.back();" value="Назад" />
	</div>
	<div />
	<a asp-page="/Student/StudentCourses/Task" asp-route-id="@Model.Student.IdStudent">Задания</a>

	<table class="table table-bordered" style="border: solid #0866C6 2px; background-color: white; width: 100%">
		<thead>
			<tr>
				<th style="border: solid #0866C6 2px; background-color: white">
					Название занятия(тема)
				</th>
				<th style="border: solid #0866C6 2px; background-color: white">
					Время начала занятия
				</th>
				<th style="border: solid #0866C6 2px; background-color: white">
					Время окончания занятия
				</th>
				<th style="border: solid #0866C6 2px; background-color: white">
					Аудитория
				</th>
				<th style="border: solid #0866C6 2px; background-color: white">
					Присутсвие
				</th>
			</tr>
		</thead>
		<tbody>
			@if (Model.Classes != null)
			{
				@foreach (var classes in Model.Classes)
				{
					<tr>
						<td class=" pb-0" style="border: solid #0866C6 1px; background-color: white">
							@Html.DisplayFor(it => classes.NameClasses)
						</td>
						<td class=" pb-0" style="border: solid #0866C6 1px; background-color: white">
							@Html.DisplayFor(it => classes.StartTime)
						</td>
						<td class=" pb-0" style="border: solid #0866C6 1px; background-color: white">
							@Html.DisplayFor(it => classes.EndTime)
						</td>
						<td class=" pb-0" style="border: solid #0866C6 1px; background-color: white">
							@Html.DisplayFor(item => classes.Cabinet)
						</td>
						<td class=" pb-0" style="border: solid #0866C6 1px; background-color: white">
							<form method="post" asp-page-handler="VisitStudent">
								<div class="form-group">
									<input hidden="hidden" type="number" name="idClasses" value="@classes.IdClasses" />
									<input hidden="hidden" type="number" name="idStudent" value="@Model.Student.IdStudent" />

									@if (@Model.VisitedStudents.Count != 0)
									{
										@foreach (var confirmVisit in Model.VisitedStudents)
										{
											@if (confirmVisit.IdClasses == classes.IdClasses)
											{
												@if (confirmVisit.ConfirmVisited == false)
												{
													<input class="custom-checkbox" asp-for="VisitedStudent.ConfirmVisited" name="visited" onchange="this.form.submit();">
												}
												else
												{
													<input class="custom-checkbox" asp-for="VisitedStudent.ConfirmVisited" checked name="visited" onchange="this.form.submit();">
												}
											}
										}
										@if (Model.VisitedStudents.Find(x => x.IdClasses.Equals(classes.IdClasses)) == null)
										{
											<input class="custom-checkbox" asp-for="VisitedStudent.ConfirmVisited" name="visited" onchange="this.form.submit();" />

										}

									}
									else
									{
										@if (@Model.VisitedStudents.Count == 0)
										{

											<input class="custom-checkbox" asp-for="VisitedStudent.ConfirmVisited" name="visited" onchange="this.form.submit();" />

										}
									}
								</div>
							</form>
						</td>
					</tr>
				}

			}
		</tbody>
	</table>
</div>

