@page
@model PrivateOfficeWebApp.TaskModel
@{
    ViewData["Title"] = "Task";
}

<div>
    <nav class="navbar" style="background-color: #0866C6">
        <a asp-page="../StudentCourses/IndexStudentCourse" asp-route-id="@Request.Cookies["idStudent"]" class="navbar-brand" style="color: white">@Model.Student.SecondName @Model.Student.FirstName</a>
        <form method="post" class="form-inline">
            <input class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="background-color:#0866C6; color:white; " value="Выйти" asp-page-handler="LogOut" />
        </form>
    </nav>
</div>
<div class="container-fluid mt-3">
    <div class="form-group d-flex bd-highlight mb-3">
        <a asp-page="../StudentCourses/StudentClasses" asp-route-id="@Model.Student.IdStudent" class="btn btn-outline-primary p-2 bd-highlight" style="background-color:#0866C6; color:white">Назад</a>
    </div>
</div>

<div>
    <table id="tab1" class="table table-bordered" style="border: solid #0866C6 2px; background-color:white; width:100%">
        <thead>
            <tr>
                <th style="border: solid #0866C6 2px; background-color:white ">Название</th>
                <th style="border: solid #0866C6 2px; background-color:white ">Занятие</th>
                <th style="border: solid #0866C6 2px; background-color:white ">Тип задания</th>
            </tr>
        </thead>

        <tbody>  
            @if (Model.Homeworks != null)
            {
                @foreach (var homeworks in Model.Homeworks)
                {
            <tr>
                <td style="border: solid   #0866C6 1px; background-color:white">@homeworks.ContentHomework</td>
                <td style="border: solid   #0866C6 1px; background-color:white">@homeworks.Classes.NameClasses</td>
                <td style="border: solid   #0866C6 1px; background-color:white">@homeworks.TypeHomework</td>

            </tr>
              }
          }
        </tbody>
    </table>
</div>